.sidebarOption{
  color: gray;
  height: 40px;
  cursor: pointer;
  transition: .2s ease-in;
  display: flex;
  align-items: center;
  &:hover{
    color: #fff;
  }

  &__icon{
    padding: 0 10px;
  }
  p{
    margin-top:10px;
    margin-left:20px ;
    font-size: 14px;
  }
}
