.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  background: #282828;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;

  &__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: #fff;
    width: 300px;
  }

  &__center {
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
  }

  &__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;

    & * .MuiSlider-root{
      color: #1db954;
    }
  }

  &__albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
  }
  &__green{
    color: #1db954;
  }

  &__icon:hover,
  &__green:hover{
    transition: transform .2s ease-in-out;
    transform: scale(1.2) !important;
  }


}